  <a ui-sref="home">Home</a> &lt; <a ui-sref="categories">Categories</a> &lt; <span>Item</span>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>Short Name</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price Large</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="dish in dishes.meal.menu_items">
         <td>{{ dish.short_name }}</td>
         <td>{{ dish.name }}</td>
         <td>{{ dish.description }}</td>
         <td>{{ dish.price_large }}</td>
       </tr>
   </table>